body{
    background-color:lightgray(#eaeaea)
    
    
}

    

img{
    padding: inherit;
    margin: auto;
    width: 500px;
    display: block;
}

h1{
    color: blue;
    
    
}
